// Refer to https://buefy.org/documentation/customization

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #00aa65;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$text: #515e6d;
// $body-color: $text // default
$body-background-color: #f3f4f6;

$table-cell-padding: .75em;
$label-color: $grey;

@import "~bulma";

// TODO: optimize CSS file size with Purgecss, PurifyCSS, etc
